*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    margin: 0;
    position: relative;
    background-color: whitesmoke;
    color: black;
    .topHeader{
        border: 2px solid black;
        text-align: center;
        position: sticky;
        top: 0;
        padding: 1%;
        }
        nav{
            position: absolute;
            display: flex;
            text-align: center;
            justify-content: space-between;
            cursor: pointer;
            margin-left: 2%;
            padding: 1%;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                color: black;
                padding: 0 2%;
            }
        }
     
    .container{
        display: flex;
        height: 100vh;
        padding: 2%;
        .content{
            margin: auto;
            
        }
    }
    main{
        padding: 2%;
        .firstarticle{
            padding: 2%;
            .h3{
                padding: 2%;
            }
            .aboutme{
                padding: 2%;
                .img{
                    max-width: 100%;
                }
            }
        }
        .secondarticle{
            padding: 2%;
            .football{
                padding: 2%;
                .img{
                    max-width: 100%;
                }
                
            }
            .music{
                padding: 2%;
                .img{
                    max-width: 100%;
                }
            }
            .travel{
                padding: 2%;
            }
            .history{
                padding: 2%;
            }
        }
        .thirdarticle{
            padding: 2%;
            .html{
                max-width: 100%;
                padding: 2%;
            }
            .css{
                max-width: 100%;
                padding: 2%;
            }
            .javascript{
                max-width: 100%;
                padding: 2%;
            }
        }
        .fourtharticle{
            padding: 2%;
            .h3{
                padding: 2%;
            }
            .p{
                padding: 2%;
            }
        }
    }

}
footer{
    text-align: center;
    margin-top: 3%;
    .containersecond{
        align-items: center;
        display: inline-block;
        font-size: 2em;
    }
    .containerthird{
        margin: 0;
        font-size: 10px;
    }
}