*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    margin: 0;
    position: relative;
    background-color: whitesmoke;
    color: black;
    .topHeader{
        border: 2px solid black;
        text-align: center;
        position: sticky;
        top: 0;
        padding: 1%;
        background-color: white;
        nav{
            display: flex;
            text-align: center;
            justify-content: center;
            cursor: pointer;
            margin-left: 2%;
            padding: 1%;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                color: black;
                padding: 0 2%;
                text-decoration: none;
            }
        }
    }
     
    .container{
        display: flex;
        min-height: 100vh;
        padding: 2%;
        .content{
            margin: auto;
            h1 h2{
                text-align: center;
            }
        }
    }
    main{
        padding: 2%;
        h3{
            padding: 2%;
            text-align: center;
        }
        .firstarticle{
            padding: 2%;
            .aboutme{
                padding: 2%;
            }
        }
        .secondarticle{
            padding: 2%;
            .football{
                padding: 2%;       
            }
            .music{
                padding: 2%;
            }
            .travel{
                padding: 2%;
            }
            .history{
                padding: 2%;
            }
        }
        .thirdarticle{
            padding: 2%;
            text-align: center;
            b,p{
                text-align: left;
                width: 100%;
                display: block;
            }
            .html, .css, .javascript{
                max-width: 100%;
                padding: 2%;
            }
        }
        .fourtharticle{
            padding: 2%;
            h3{
                padding: 2%;
            }
            p{
                padding: 2%;
            }
        }
    }
    footer{
        text-align: center;
        margin-top: 3%;
        .containersecond{
            align-items: center;
            display: inline-block;
            font-size: 2em;
            a{
                text-decoration: none;
                color: black;
            }
        }
        .containerthird{
            margin: 0;
            font-size: 10px;
        }
    }

}
