*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    margin: 0;
    position: relative;
    background-color: whitesmoke;
    color: black;
    .topHeader{
        text-align: center;
        position: sticky;
        top: 0;
        }
        nav{
            position: absolute;
            display: flex;
            text-align: center;
            justify-content: space-between;
            cursor: pointer;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                color: black;
                padding: 0 2%;
            }
        }
     
    }
    .container{
        display: flex;
        height: 100vh;
        padding: 2%;
        .content{
            margin: auto;
            
        }
    }
    main{
        padding: 2%;
        .firstarticle{
            padding: 2%;
            .h3{
                align-items: center;
            }
        }
        .secondarticle{
            padding: 2%;
            .football{
                padding: 2%;
                
            }
            .music{
                padding: 2%;
            }
            .travel{
                padding: 2%;
            }
            .history{
                padding: 2%;
            }
        }
        .thirdarticle{
            padding: 2%;
        }
        .fourtharticle{
            padding: 2%;
        }
    }

}