*{
    box-sizing: border-box;
}
body{
    margin: 0;
    position: relative;
    background-color: whitesmoke;
    color: black;
    .topHeader{
        min-height: 100vh;
        position: sticky;
        top: 0;
        nav{
            position: absolute;
            display: flex;
            justify-content: space-between;
            a{
                display: flex;
                align-items: center;
                padding: 0 2%;
            }
        }
     
    }
    .container{
        display: flex;
        min-height: 100vh;
    }

}